#profileCard {
	/* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
	padding: 20px;
	box-shadow: 3px 3px 15px black;
	min-width: 200px;
}

#profileCard .banner {
	width: 100%;
	max-width: 500px;
	max-height: 350px;
	border: 1px solid #E0EFFE;
}

#profileCard .avatarDynamic {
	width: 50%;
	max-width: 250px;
	transform: translate(0, -100px);
}

#editProfileBtn {
	margin-left: auto;
	margin-bottom: 15px;
	transform: skew(-10deg);
	transition: all 0.5s ease;
}

#profileCard .footer {
	transform: translate(0, -90px);
}

#profileCard .bioDynamic {
	text-wrap: wrap;
}

.bioDynamic {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
