@import url("satoshi.css");

.preload-transitions {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

h1,
h2,
h3 {
  font-family: "Satoshi-Bold", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Satoshi-regular", Arial, Helvetica, sans-serif;
}

.logOutContent {
  display: block;
}
.logInContent {
  display: none;
}

#game:not(:focus) {
    opacity: 0.90;
}

img {
	pointer-events: none;
}

#alert {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	transition: top 0.5s ease-in-out;
	z-index: 1060;
}