@import url("satoshi.css");

.preload-transitions {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

h1,
h2,
h3 {
  font-family: "Satoshi-Bold", Arial, Helvetica, sans-serif;
}

body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
	
p {
  font-family: "Satoshi-regular", Arial, Helvetica, sans-serif;
}

.logOutContent {
  display: block;
}
.logInContent {
  display: none;
}

img {
	pointer-events: none;
}

html {
	overflow-y: scroll;
	height: 101vh;
}