@font-face {
    font-family: 'baumansregular';
    src: url('../assets/fonts/baumans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/baumans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	font-family: 'baumansregular', sans-serif;
}

h1 {
	text-align: center;
}

#game {
	width: 960px;
	height: 540px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border: 5px solid black;
}

#menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	background-color: black;
	justify-content: stretch;
	z-index: 100;
}


#selectText {
	display: flex;
	height: 10%;
	text-align: center;
	color: white;
	padding: 0;
	align-items: center;
	justify-content: center;
}

#panel {
	position: relative;
	display: flex;
	justify-content: center;
	bottom: -5%;
}

#start {
	left: 0;
	bottom: 50%;
	margin: 5%;
	font-size: 2em;
}

/* #canvas {
	width: 100%;
	height: 100%;
} */

#player1 {
	border: 5px solid green;
}

#score {
	padding: 10px;
	font-size: 2em;
	font-family: 'cursed_timer', sans-serif;
	margin-top: 0;
	color: white;
}

#ux {
	position: relative;
	top: 80%;
	display: flex;
	justify-content: space-between;
}

#backIcon {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2.5%;
	font-size: 1em;
	z-index: 100;
}

#toggleButton {
	align-self: flex-end;
	margin: 2.5%;
	z-index: 100;
}

#toggleDiv {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 18%;
	height: auto;
	top: -20%;
	background-color: rgba(50, 50, 50, 0.7);
	align-self: flex-end;
	margin: 0 1.5%;
	font-size: smaller;
	border-radius: 0.5em;
}

#spriteStart {
	animation: space 3s steps(2) infinite;
	width: 67px;
	height: 100%;
	top: 25%;
}

#error {
	position: absolute;
	align-self: center;
	top: 0;
	margin: 2.5%;
	font-size: 1em;
	z-index: 100;
}

#waitingScreen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2%;
}

/* #spriteP2 {
	left: -1%
} */

.close-matchmaking {
	position: absolute;
	align-self: start;
	left: 0;
	margin: 0.5%;
	/* font-size: 1em; */
	z-index: 100;
}

.menu {
	position: absolute;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
}

.hidden  {
    display: none !important; 
}

.inputAnimate {
	display: flex;
	position: relative;
	bottom: 0%;
	margin: 5% 5%;
	justify-content: center;
}

.infoText {
	width: 20%;
	font-size: 0.6em;
}

.sprite {
	position: relative;
	left: 5%;
	margin: 0% 15%;
	width: 63px;
	height: 32px;
	animation: moveKey 6s steps(3  ) infinite;
	background-repeat: no-repeat;
	z-index: 101;
}

.charactersIcon {
	object-fit: fill;
	width: 50%;
	height: 100%;
	transform: skew(-5deg);
	border: 3px inset rgb(223, 225, 224);
	/* border: 2px black solid; */
}

.swatch {
	display: flex;
	z-index: 100;
	margin: 0 0.5%;
	/* transform: skew(-5deg); */
}

.btn {
	border: none;
	color: white;
	font-family: 'baumansregular', sans-serif;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0);
	margin: 0.5em 7em;
	padding: 15px;
}

.btn:hover {
	background-color: whitesmoke;
	color: black;
	border-radius: 0.5em;
}

.cursorP1, .cursorP2 {
	color: white;
	position: absolute;
	font-size: 0.8em;
	z-index: 100;
	/* padding: 0; */
	/* margin: 5%; */
	bottom: 10%;
}

.logo {
	width: 100%;
}

.fullScreenIcon {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2.5%;
	font-size: 1em;
	z-index: 100;
	transition: all 0.3s ease;
}

.icon {
	transition: all 0.3s ease;
}

.icon:hover {
	transform: scale(1.2);
	cursor: pointer;
}

@keyframes moveKey {
	to { 
		background-position: -190px 0; 
		translate: -25%;
	}
}

@keyframes space {
	to {
		background-position: -134px 0; 
	}
}

@keyframes moveKeyFullScreen {
	to { 
		background-position: -380px 0; 
		translate: -25%;
	}
}

@keyframes spaceFullScreen {
	to {
		background-position: -268px 0; 
	}
	
}
@media all and (display-mode: fullscreen) {
	.inputAnimate {
		height: 120%;
		position: relative;
		bottom: 0%;
		margin: 2% 5%;
		/* width: 253px; */
	}
	
	.sprite {
		display: relative;
		width: 126px;
		height: 64px;
		/* left: 5%;
		margin: 5% 15%; */
		animation: moveKeyFullScreen 6s steps(3  ) infinite;
		background-repeat: no-repeat;
		background-size: auto;
	}
	
	#spriteStart {
		animation: spaceFullScreen 3s steps(2) infinite;
		width: 134px;
		height: 32px;
	}
  }

