:root {
	--form-color: rgb(175, 167, 2);
	--form-bg-color: rgb(75, 72, 2);
	--form-input-bg-color: rgb(38, 38, 39);
}

@font-face {
    font-family: 'baumansregular';
    src: url('../assets/fonts/baumans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/baumans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
	text-align: center;
}

 #game {
	width: 960px;
	height: 540px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	/* border: 5px solid black; */
	margin: 0;
	font-family: 'baumansregular', sans-serif;
}

#menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	background-color: black;
	justify-content: stretch;
	z-index: 0;
}


#selectText {
	display: flex;
	height: 10%;
	text-align: center;
	color: white;
	padding: 0;
	align-items: center;
	justify-content: center;
}

#game #panel {
	position: relative;
	display: flex;
	justify-content: center;
	bottom: -5%;
}

#game #start {
	left: 0;
	bottom: 50%;
	margin: 5%;
	font-size: 2em;
}

#player1 {
	border: 5px solid green;
}

#game #score {
	padding: 10px;
	font-size: 2em;
	font-family: 'cursed_timer', sans-serif;
	margin-top: 0;
	color: white;
}

#ux {
	position: relative;
	top: 80%;
	display: flex;
	justify-content: space-between;
}

#backIcon {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2.5%;
	font-size: 1em;
	z-index: 1;
}

#toggleButton {
	align-self: flex-end;
	margin: 2.5%;
	z-index: 1;
}

#toggleDiv {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 18%;
	height: auto;
	top: -20%;
	background-color: rgba(50, 50, 50, 0.7);
	align-self: flex-end;
	margin: 0 1.5%;
	font-size: smaller;
	border-radius: 0.5em;
}

#spriteStart {
	animation: space 3s steps(2) infinite;
	width: 67px;
	height: 100%;
	top: 25%;
}

#error {
	position: absolute;
	align-self: center;
	top: 0;
	margin: 2.5%;
	font-size: 1em;
	z-index: 1;
}

#waitingScreen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2%;
}

#tournamentMenu, #onlineMenu, #createTournament, #joinTournamentMenu {
	display: flex;
	flex-direction: row;
	background-color: black;
	justify-content: center;
	align-items: center;
}

#listTournament, #listPlayers {
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 50%;
	overflow-y: scroll;
	justify-content: start!important;
	color: white;
}

#tournamentForm {
	height: auto;
}

.unsubscribe-btn {
	position: absolute !important;
	bottom: 0;
	right: 0;
	margin: 4.5%;
	background-color: rgb(120, 2, 2) !important;
	padding: 5px!important;
}

.unsubscribe-btn:hover {
	box-shadow: 2px 2px 25px 2px rgb(226, 3, 3) !important;
}

.player-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 100%;
	padding: 1% 2%;
}


.tournament {
	font-size: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--form-input-bg-color);
	width: 75%;
	opacity: 0.9;
	box-shadow: 1px 1px 20px 2px var(--form-color);
	border-radius: 5%;
	background-color: var(--form-bg-color);
	transform: perspective(600px) rotateX(25deg);
	perspective: 10%;
	filter: blur(0.5px);
	position: relative;
	overflow: hidden;
	top: -5%;
	height: 85%;
	justify-content: start;
}

#avatar_pong {
	height: 50px;
	width: 50px;
	object-fit: cover;
}


.form-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	transform: perspective(600px) rotateX(25deg);
	perspective: 10px;
}

.glitched {
	animation: glitch 1.5s linear infinite;
}

.glitched:after, .glitched:before {
	position: absolute;
	left: 0;
	animation: glitch 0.5s linear infinite;
}

.glitched:before{
	animation: glitchTop 0.5s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.glitched:after {
	animation: glitchBottom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

.form-field-name:after, .form-field-name:before {
	content: "Name";
	left: -1px;
	animation: glitch 0.7s linear infinite;
}

.form-field-max_players:after, .form-field-max_players:before {
	content: "Max Players";
	left: -5px;
	animation: glitch 0.4s linear infinite;
}

.form-field-max_points:after, .form-field-max_points:before {
	content: "Max Points";
	left: 2px;
	animation: glitch 0.6s linear infinite;
}

.form-header::after, .form-header::before {
	content: "Create Tournament";
	left: -0.5px;
	animation: glitch 1.5s linear infinite;
}


@keyframes glitch {
	2%, 64% {
		transform: translate(1px, 0) skew(0deg);
		color: rgb(235, 235, 235);
	}
	4%, 60% {
		transform: translate(-1px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
		color: white;
	}
}

@keyframes glitchTop {
	2%, 64% {
		transform: translate(1px, 2px);
	}
	4%, 60% {
		transform: translate(-2px, -2px);
	}
	62% {
		transform: translate(1px, -1px) skew(50deg);
	}
}

@keyframes glitchBottom {
	2%, 64% {
		transform: translate(0, 0);
	}
	4%, 60% {
		transform: translate(0, 0);
	}
	62% {
		transform: translate(-5px, 2px) skew(21deg);
	}
}

.form-field > input {
	margin: 2%;
	width: 75%;
	height: 10%;
	background-color: var(--form-input-bg-color);
	border: 1px solid black;
	color: white;
}

.form-field > input:focus {
	background-color: var(--form-color);
	box-shadow: 2px 2px 25px 2px var(--form-color);
}

.form-field > input:hover {
	box-shadow: 1px 1px 10px 1px var(--form-color);
	border: 1px solid var(--form-color);
}

.form-field__private {
	flex-direction: row;
}

.form-field__private > label {
	width: 150%;
}

.form-field__private > input {
	border: 1px solid #ccc;
	cursor: pointer;
	height: 1.5em;
}

.disabled {
	pointer-events: none;
}

.disabled > input {
	background-color: rgb(128, 126, 126);
}

.form-btn {
	border: none;
	color: white;
	background-color: var(--form-input-bg-color);
	font-family: 'baumansregular', sans-serif;
	font-size: 1em;
	margin: 0.5em;
	padding: 15px;
	position: relative;
	overflow: hidden;
	transform: perspective(600px) rotateX(25deg);
	perspective: 10px;

}

.form-btn::after, .form-btn::before {
	content: "";
	position: absolute;
	left: -1px;
	animation: glitch 2s linear infinite;
}
  
.form-btn:hover {
	box-shadow: 2px 2px 25px 2px var(--form-color);
	background-color: var(--form-color);
}

.hidden {
	display: none!important;
}

.list-header {
	display: flex;
	width: 96%;
	font-size: 2em;
	margin: 1% 10%;
	/* justify-content: start; */
	justify-content: space-between;
	border-bottom: 1px black solid;
}

.tournament-info {
	width: 96%;
	display: flex;
	font-size: 1.5em;
	justify-content: space-between;
}

.tournament-info:hover {
	background-color: var(--form-color);
	box-shadow: 2px 2px 25px 2px var(--form-color);
}

.gamemode {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 25%;
	margin: 5%;
	padding:  1% 3%;
	align-self: start;
}

.gamemode > p {
	color: white;
	margin: 2% 0;
}

.gamemode-img {
	width: 50%;
	height: 50%;
}

.submode-list {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.submode, #game .btn {
	transform: skew(-10deg);
	background: white;
	width: 150%;
	margin: 3% 0;
	transition: all 0.5s ease;
}

#game .btn {
	width: auto;
}

.submode:hover, #game .btn:hover {
	transform: scale(1.1) skew(-7deg);
	color: black;
}


.close-matchmaking {
	position: absolute;
	align-self: start;
	left: 0;
	margin: 0.5%;
	z-index: 1;
}

.menu {
	position: absolute;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
}

.inputAnimate {
	display: flex;
	position: relative;
	bottom: 0%;
	margin: 5% 5%;
	justify-content: center;
}

.infoText {
	width: 20%;
	font-size: 0.6em;
}

.sprite {
	position: relative;
	left: 5%;
	margin: 0% 15%;
	width: 63px;
	height: 32px;
	animation: moveKey 6s steps(3  ) infinite;
	background-repeat: no-repeat;
	z-index: 1;
}

.charactersIcon {
	object-fit: fill;
	width: 50%;
	height: 100%;
	transform: skew(-5deg);
	border: 3px inset rgb(223, 225, 224);
	/* border: 2px black solid; */
}

.swatch {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2%;
}

@keyframes glitch {
	2%, 64% {
		transform: translate(1px, 0) skew(0deg);
		color: rgb(235, 235, 235);
	}
	4%, 60% {
		transform: translate(-1px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
		color: white;
	}
}

@keyframes glitchTop {
	2%, 64% {
		transform: translate(1px, 2px);
	}
	4%, 60% {
		transform: translate(-2px, -2px);
	}
	62% {
		transform: translate(1px, -1px) skew(50deg);
	}
}

@keyframes glitchBottom {
	2%, 64% {
		transform: translate(0, 0);
	}
	4%, 60% {
		transform: translate(0, 0);
	}
	62% {
		transform: translate(-5px, 2px) skew(21deg);
	}
}


#game .btn {
	border: none;
	font-family: 'baumansregular', sans-serif;
	font-size: 1em;
	margin: 0.5em 8em;
	padding: 15px;
}


.cursorP1, .cursorP2 {
	color: white;
	position: absolute;
	font-size: 0.8em;
	z-index: 2;
	/* padding: 0; */
	/* margin: 5%; */
	bottom: 10%;
}

#game .logo {
	width: 100%;
}

#game .fullScreenIcon {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2.5%;
	font-size: 1em;
	z-index: 1;
	transition: all 0.3s ease;
}

.icon {
	transition: all 0.3s ease;
}

.icon:hover {
	transform: scale(1.2);
	cursor: pointer;
}

@keyframes moveKey {
	to { 
		background-position: -190px 0; 
		translate: -25%;
	}
}

@keyframes space {
	to {
		background-position: -134px 0; 
	}
}

@keyframes moveKeyFullScreen {
	to { 
		background-position: -380px 0; 
		translate: -25%;
	}
}

@keyframes spaceFullScreen {
	to {
		background-position: -268px 0; 
	}
	
}
@media all and (display-mode: fullscreen) {
	.inputAnimate {
		height: 120%;
		position: relative;
		bottom: 0%;
		margin: 2% 5%;
	}
	
	.sprite {
		display: relative;
		width: 126px;
		height: 64px;
		animation: moveKeyFullScreen 6s steps(3  ) infinite;
		background-repeat: no-repeat;
		background-size: auto;
	}
	
	#spriteStart {
		animation: spaceFullScreen 3s steps(2) infinite;
		width: 134px;
		height: 32px;
	}

	.tournament {
		top: -15%;
		height: 70%;
		font-size: 0.45em;
		transform: perspective(900px) rotateX(25deg);
		perspective: 25%;
	}
	.form-header {
		font-size: 2em;
	}
  }

