#sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  transition: width 0.5s;
}

#sidebar.collapsed {
  width: 80px;
}

#content-container {
  padding: 20px;
  margin-left: 200px;
  transition: margin-left 0.5s;
}

#content-container.collapsed {
  margin-left: 80px;
}

.section-name {
  position: fixed;
  opacity: 1;
  transition: opacity 0.2s;
}

.section-name-collapsed {
  opacity: 0;
}

#title {
  position: static;
}

li.nav-item > a:hover {
  background-color: #1d2126;
  color: white;
}
