services:
  django_backend:
    build:
      context: ../py_backend/docker
      dockerfile: Dockerfile.dev
    volumes:
      - staticfiles:/staticfiles
      - ../py_backend:/code
      - certificates:/etc/nginx/ssl
      - ../translations:/code/translations
    env_file:
      - ./.env.dev
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: postgres:latest
    user: postgres
    env_file:
      - ./.env.prod.db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  nginx_frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    working_dir: /usr/app/
    volumes:
      - certificates:/etc/nginx/ssl
      - staticfiles:/staticfiles
      - ../frontend:/usr/share/nginx/html
      - ../translations:/usr/share/nginx/html/translations
    ports:
      - 8000:80
    restart: always

volumes:
  postgres_data:
  certificates:
  staticfiles:
