services:
  django_backend:
    build:
        context: ../py_backend/docker
        dockerfile: Dockerfile.prod
    volumes:
       - staticfiles:/staticfiles
       - ../py_backend:/code
       - certificates:/etc/nginx/ssl  
    env_file:
      - ./.env.prod
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    restart: always
    user: postgres
    env_file:
      - ./.env.prod.db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx_proxy:
    build: ../nginx_proxy/config
    volumes:
       - staticfiles:/staticfiles
       - certificates:/etc/nginx/ssl  
    ports:
      - 8080:8080
    depends_on:
      - django_backend
  
  nginx_frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    working_dir: /usr/app/
    volumes:
      - certificates:/etc/nginx/ssl  
      - ../frontend:/usr/share/nginx/html
    ports:
      - 8001:80
    restart: always
    depends_on:
      - nginx_proxy
  

volumes:
  postgres_data:
  certificates:
  staticfiles: 