psycopg2-binary==2.9.6
gunicorn==21.2.0
asgiref==3.7.2
Django==4.2.9
sqlparse==0.4.4
typing-extensions==4.9.0
channels==4.0.0
daphne>=4.0.0
django-cors-headers==4.3.1
pillow==10.2.0
django-extensions==3.2.3
django-bootstrap-v5
wheel
django_extensions
requests-toolbelt==0.7.1
# channels-redis==4.2.0