{% extends "base.html" %}
{% load static %}

{% block content %}
	</body>
		<title>ft_pong</title>
		<header id="header">
			<h1>PONG</h1>
		</header>
			<div id="game">
				<canvas id="canvas"></canvas>
			</div>
	<body>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">
{% endblock %}
{% block script %}
<script type="importmap">
	{
		"imports": {
		"three": "https://unpkg.com/three@0.159.0/build/three.module.js",
		"three/addons/": "https://unpkg.com/three@0.159.0/examples/jsm/"
		}
	}
</script>
<script type="module" src="{% static 'js/main.js' %}"></script>
<script src="https://kit.fontawesome.com/f7996aafde.js" crossorigin="anonymous"></script>
{% endblock %}